<%- include('../partials/header') %>

<h2>Fruit Details</h2>
<p>Name: <%= fruit.name %></p>
<p>Vitamins: <%= fruit.vitamins %></p>
<p>Daily Value: <%= fruit.dailyValue %></p>

<%- include('../partials/footer') %>
